# Лабораторная работа № 1. Основы работы с Pandas
## Вариант № 14(4)

In [181]:
import numpy as np
import pandas as pd

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.float_format', '{:.4f}'.format)

In [182]:
with open("datasets\\brooklyn_sales_map.csv") as f:
    ncols = len(f.readline().split(','))

sales_data = pd.read_csv(filepath_or_buffer="datasets\\brooklyn_sales_map.csv",
                            usecols=range(1,ncols),
                            index_col="zip_code",
                            low_memory=False)

sales_data.head(10)

,borough,neighborhood,building_class_category,tax_class,block,lot,easement,building_class,address,apartment_number,residential_units,commercial_units,total_units,land_sqft,gross_sqft,year_built,tax_class_at_sale,building_class_at_sale,sale_price,sale_date,year_of_sale,Borough,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,PolicePrct,HealthCent,HealthArea,SanitBoro,SanitDistr,SanitSub,Address,ZoneDist1,ZoneDist2,ZoneDist3,ZoneDist4,Overlay1,Overlay2,SPDist1,SPDist2,SPDist3,LtdHeight,SplitZone,BldgClass,LandUse,Easements,OwnerType,OwnerName,LotArea,BldgArea,ComArea,ResArea,OfficeArea,RetailArea,GarageArea,StrgeArea,FactryArea,OtherArea,AreaSource,NumBldgs,NumFloors,UnitsRes,UnitsTotal,LotFront,LotDepth,BldgFront,BldgDepth,Ext,ProxCode,IrrLotCode,LotType,BsmtCode,AssessLand,AssessTot,ExemptLand,ExemptTot,YearBuilt,YearAlter1,YearAlter2,HistDist,Landmark,BuiltFAR,ResidFAR,CommFAR,FacilFAR,BoroCode,BBL,CondoNo,Tract2010,XCoord,YCoord,ZoneMap,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLA,PFIRM15_FL,Version,MAPPLUTO_F,SHAPE_Leng,SHAPE_Area
zip_code,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
11201,3,DOWNTOWN-METROTECH,28 COMMERCIAL CONDOS,4,140,1001,NaN,R5,330 JAY STREET,COURT,0,1,1,0.0000,0.0000,2002,4,R5,499401179.0000,2008-04-23,2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11201,3,DOWNTOWN-FULTON FERRY,29 COMMERCIAL GARAGES,4,54,1,NaN,G7,85 JAY STREET,NaN,0,0,0,134988.0000,0.0000,0,4,G7,345000000.0000,2016-12-20,2016,BK,302.0000,21.0000,3017.0000,13.0000,33.0000,11201.0000,L118,84.0000,36.0000,1000.0000,3.0000,2.0000,1B,87 JAY STREET,M1-2/R8,NaN,NaN,NaN,NaN,NaN,MX-2,NaN,NaN,NaN,N,G7,10.0000,0.0000,P,85 JAY STREET BROOKLY,134988.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,7.0000,0.0000,0.0000,0.0000,0.0000,490.5000,275.3300,0.0000,0.0000,NaN,0.0000,N,5.0000,5.0000,1571850.0000,1571850.0000,1571850.0000,1571850.0000,0.0000,0.0000,0.0000,NaN,NaN,0.0000,7.2000,2.0000,6.5000,3.0000,3000540001.0000,0.0000,21.0000,988208.0000,195011.0000,12d,NaN,302 016,30101.0000,NaN,3000540001.0000,12/06/2002,1.0000,NaN,NaN,17V1.1,0.0000,1559.8891,140131.5772
11201,3,BROOKLYN HEIGHTS,21 OFFICE BUILDINGS,4,204,1,NaN,O6,29 COLUMBIA HEIGHTS,NaN,0,0,0,32000.0000,304650.0000,1924,4,O6,340000000.0000,2016-08-03,2016,BK,302.0000,1.0000,1003.0000,13.0000,33.0000,11201.0000,E205,84.0000,38.0000,2300.0000,3.0000,2.0000,1A,29 COLUMBIA HEIGHTS,M2-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,O6,5.0000,0.0000,NaN,25-30 COLUMBIA HEIGHT,32000.0000,304650.0000,304650.0000,0.0000,264750.0000,0.0000,0.0000,0.0000,0.0000,39900.0000,2.0000,1.0000,13.0000,0.0000,0.0000,92.4200,335.9200,335.0000,92.0000,NaN,0.0000,Y,3.0000,5.0000,1548000.0000,25463250.0000,0.0000,0.0000,1924.0000,1980.0000,0.0000,NaN,NaN,9.5200,0.0000,2.0000,0.0000,3.0000,3002040001.0000,0.0000,1.0000,985952.0000,195007.0000,12d,NaN,302 004,30106.0000,NaN,0.0000,NaN,1.0000,NaN,NaN,17V1.1,0.0000,890.7185,34656.4472
11234,3,MILL BASIN,22 STORE BUILDINGS,4,8470,55,NaN,K6,5120 AVENUE U,NaN,0,123,123,905000.0000,2548000.0000,1970,4,K6,276947000.0000,2012-11-28,2012,BK,318.0000,698.0000,2005.0000,22.0000,46.0000,11234.0000,E323,63.0000,35.0000,8822.0000,3.0000,18.0000,4E,5120 AVENUE U,M3-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,K6,5.0000,1.0000,NaN,BROOKLYN KINGS PLAZA,905000.0000,2548000.0000,2548000.0000,0.0000,0.0000,1263000.0000,1285000.0000,0.0000,0.0000,0.0000,2.0000,4.0000,2.0000,0.0000,123.0000,930.0000,859.0000,0.0000,0.0000,NaN,0.0000,Y,3.0000,5.0000,36532350.0000,149792400.0000,0.0000,0.0000,1970.0000,0.0000,0.0000,NaN,NaN,2.8200,0.0000,2.0000,0.0000,3.0000,3084700055.0000,0.0000,698.0000,1006597.0000,161424.0000,23b,NaN,319 077,32502.0000,NaN,0.0000,NaN,1.0000,1.0000,1.0000,17V1.1,0.0000,3729.7869,797554.8478
11201,3,BROOKLYN HEIGHTS,26 OTHER HOTELS,4,230,1,NaN,H8,21 CLARK STREET,NaN,0,1,1,20267.0000,356000.0000,1927,4,H8,202500000.0000,2017-10-31,2017,BK,302.0000,3.0100,2000.0000,13.0000,33.0000,11201.0000,E205,84.0000,38.0000,2300.0000,3.0000,2.0000,1A,79 WILLOW STREET,R6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LH-1,N,H8,8.0000,0.0000,X,WATCHTOWER C/O REAL P,20267.0000,356000.0000,30000.0000,0.0000,30000.0000,0.0000,0.0000,0.0000,0.0000,0.0000,2.0000,1.0000,15.0000,0.0000,1.0000,202.0000,100.3300,202.0000,100.3300,NaN,0.0000,N,3.0000,2.0000,2250000.0000,27166050.0000,2250000.0000,27166050.0000,1927.0000,1998.0000,2000.0000,Brooklyn Heights Historic District,NaN,17.5700,2.4300,0.0000,4.8000,3.0000,3002300001.0000,0.0000,301.0000,985622.0000,193713.0000,12d,NaN,302 014,30106.0000,NaN,0.0000,NaN,1.0000,NaN,NaN,17V1.1,0.0000,620.7612,21360.1476
11249,3,WILLIAMSBURG-SOUTH,31 COMMERCIAL VACANT LAND,4,2428,1,NaN,V1,329 KENT AVENUE,NaN,0,0,0,57600.0000,0.0000,0,4,V1,185445000.0000,2012-10-11,2012,BK,301.0000,551.0000,1009.0000,14.0000,33.0000,11249.0000,E221,90.0000,30.0000,400.0000,3.0000,1.0000,2B,325 KENT AVENUE,R6,NaN,NaN,NaN,C2-4,NaN,NaN,NaN,NaN,NaN,N,D7,4.0000,0.0000,NaN,325 KENT LLC,57600.0000,382746.0000,11200.0000,371546.0000,1822.0000,9378.0000,0.0000,0.0000,0.0000,0.0000,2.0000,1.0000,0.0000,522.0000,525.0000,180.0000,320.0000,179.0000,315.0000,NaN,0.0000,N,3.0000,5.0000,3110400.0000,5579990.0000,0.0000,0.0000,2015.0000,0.0000,0.0000,NaN,NaN,6.6400,2.4300,0.0000,4.8000,3.0000,3024280001.0000,0.0000,551.0000,993500.0000,199202.0000,12d,NaN,303 007,30806.0000,E-337,0.0000,NaN,1.0000,NaN,NaN,17V1.1,0.0000,1006.3380,58564.8643
11241,3,BROOKLYN HEIGHTS,21 OFFICE BUILDINGS,4,250,44,NaN,O4,16 COURT STREET,NaN,0,102,102,12500.0000,290440.0000,1928,4,O4,171000000.0000,2017-10-10,2017,BK,302.0000,9.0000,1001.0000,13.0000,33.0000,11241.0000,E205,84.0000,38.0000,2300.0000,3.0000,2.0000,1B,16 COURT STREET,C5-2A,NaN,NaN,NaN,NaN,NaN,DB,NaN,NaN,NaN,N,O4,5.0000,0.0000,P,16 COURT STREET OWNER,12500.0000,290440.0000,290440.0000,0.0000,274500.0000,15940.0000,0.0000,0.0000,0.0000,0.0000,2.0000,1.0000,37.0000,0.0000,102.0000,100.0000,125.0000,92.0000,125.0000,NaN,0.0000,Y,3.0000,2.0000,2448000.0000,28309500.0000,0.0000,11304900.0000,1928.0000,2009.0000,0.0000,Borough Hall Skyscraper Historic Distric,NaN,23.2400,10.0000,10.0000,10.0000,3.0000,3002500044.0000,0.0000,9.0000,986784.0000,191977.0000,12d,NaN,302 018,30107.0000,NaN,0.0000,NaN,1.0000,NaN,NaN,17V1.1,0.0000,460.0317,12947.1455
11211,3,WILLIAMSBURG-NORTH,08 RENTALS - ELEVATOR APARTMENTS,2,2307,1,NaN,D8,250 N 10 STREET,NaN,234,3,237,50173.0000,241764.0000,2012,2,D8,169000000.0000,2015-05-01,2015,BK,301.0000,519.0000,1006.0000,14.0000,33.0000,11211.0000,E229,94.0000,30.0000,700.0000,3.0000,1.0000,3B,236 NORTH 10 STREET,M1-2/R6A,NaN,NaN,NaN,NaN,NaN,MX-8,NaN,NaN,NaN,N,D8,3.0000,0.0000,P,BRKLYN NY 250 N 10TH,50173.0000,241764.0000,27900.0000,213864.0000,4200.0000,0.0000,22200.0000,1500.0000,0.0000,0.0000,2.0000,1.0000,6.0000,234.0000,237.0000,521.2500,200.0000,500.0000,100.0000,NaN,1.0000,N,1.0000,2.0000,1354500.0000,23965650.0000,932847.0000,23543997.0000,2012.0000,2012.0000,0.0000,NaN,NaN,4.8200,3.0000,2.0000,3.0000,3.0000,3023070001.0000,0.0000,519.0000,997307.0000,200618.0000,13a,NaN,304 018,30804.0000,E-138,3023070001.0000,10/08/2013,1.0000,1.0000,NaN,17V1.1,0.0000,1385.2735,50772.6249
11249,3,WILLIAMSBURG-SOUTH,29 COMMERCIAL GARAGES,4,2128,5,NaN,G7,418 KENT AVENUE,NaN,0,0,0,44704.0000,0.0000,0,4,G7,165000000.0000,2015-02-04,2015,BK,301.0000,549.0000,2006.0000,14.0000,33.0000,11249.0000,E221,90.0000,30.0000,500.0000,3.0000,1.0000,4A,418 KENT AVENUE,R7-3,C4-3,NaN,NaN,C2-4,NaN,NaN,NaN,NaN,NaN,Y,D1,3.0000,0.0000,NaN,420 KENT AVENUE LLC,44704.0000,463427.0000,4884.0000,458543.0000,0.0000,4884.0000,0.0000,0.0000,0.0000,0.0000,2.0000,2.0000,20.0000,470.0000,472.0000,225.0800,281.8600,0.0000,0.0000,NaN,0.0000,Y,5.0000,5.0000,1699200.0000,3534300.0000,0.0000,0.0000,2016.0000,0.0000,0.0000,NaN,NaN,10.3700,5.0000,0.0000,5.0000,3.0000,3021280005.0000,0.0000,549.0000,992807.0000,198027.0000,12d,NaN,303 006,30801.0000,R-47,3021280005.0000,10/29/2014,1.0000,1.0000,1.0000,17V1.1,0.0000,992.9157,47019.5678
11205,3,NAVY YARD,30 WAREHOUSES,4,1876,1,NaN,E9,9-47 HALL ST,NaN,0,1,1,113800.0000,547000.0000,1912,4,E9,161000000.0000,2016-03-04,2016,BK,302.0000,543.0000,2003.0000,14.0000,35.0000,11205.0000,L119,88.0000,36.0000,9300.0000,3.0000,2.0000,4E,39 HALL STREET,M1-2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,E9,6.0000,0.0000,P,RXR 9-47 HALL STREET,113800.0000,547000.0000,547000.0000,0.0000,0.0000,0.0000,0.0000,0.0000,547000.0000,0.0000,2.0000,13.0000,8.0000,0.0000,1.0000,569.0000,204.0000,304.0000,80.9200,NaN,0.0000,Y,3.0000,5.0000,1282500.0000,11295000.0000,0.0000,0.0000,1912.0000,0.0000,0.0000,NaN,NaN,4.8100,0.0000,2.0000,4.8000,3.0000,3018760001.0000,0.0000,543.0000,993650.0000,193137.0000,12d,NaN,302 049,30701.0000,NaN,0.0000,NaN,1.0000,NaN,NaN,17V1.1,0.0000,1565.9148,118754.7857

In [183]:
sales_data["age"] = pd.Series(np.random.randint(low=0, high=100, size=len(sales_data.index)),
                                index=sales_data.index)
sales_data.head(10)

,borough,neighborhood,building_class_category,tax_class,block,lot,easement,building_class,address,apartment_number,residential_units,commercial_units,total_units,land_sqft,gross_sqft,year_built,tax_class_at_sale,building_class_at_sale,sale_price,sale_date,year_of_sale,Borough,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,PolicePrct,HealthCent,HealthArea,SanitBoro,SanitDistr,SanitSub,Address,ZoneDist1,ZoneDist2,ZoneDist3,ZoneDist4,Overlay1,Overlay2,SPDist1,SPDist2,SPDist3,LtdHeight,SplitZone,BldgClass,LandUse,Easements,OwnerType,OwnerName,LotArea,BldgArea,ComArea,ResArea,OfficeArea,RetailArea,GarageArea,StrgeArea,FactryArea,OtherArea,AreaSource,NumBldgs,NumFloors,UnitsRes,UnitsTotal,LotFront,LotDepth,BldgFront,BldgDepth,Ext,ProxCode,IrrLotCode,LotType,BsmtCode,AssessLand,AssessTot,ExemptLand,ExemptTot,YearBuilt,YearAlter1,YearAlter2,HistDist,Landmark,BuiltFAR,ResidFAR,CommFAR,FacilFAR,BoroCode,BBL,CondoNo,Tract2010,XCoord,YCoord,ZoneMap,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLA,PFIRM15_FL,Version,MAPPLUTO_F,SHAPE_Leng,SHAPE_Area,age
zip_code,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
11201,3,DOWNTOWN-METROTECH,28 COMMERCIAL CONDOS,4,140,1001,NaN,R5,330 JAY STREET,COURT,0,1,1,0.0000,0.0000,2002,4,R5,499401179.0000,2008-04-23,2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23
11201,3,DOWNTOWN-FULTON FERRY,29 COMMERCIAL GARAGES,4,54,1,NaN,G7,85 JAY STREET,NaN,0,0,0,134988.0000,0.0000,0,4,G7,345000000.0000,2016-12-20,2016,BK,302.0000,21.0000,3017.0000,13.0000,33.0000,11201.0000,L118,84.0000,36.0000,1000.0000,3.0000,2.0000,1B,87 JAY STREET,M1-2/R8,NaN,NaN,NaN,NaN,NaN,MX-2,NaN,NaN,NaN,N,G7,10.0000,0.0000,P,85 JAY STREET BROOKLY,134988.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,7.0000,0.0000,0.0000,0.0000,0.0000,490.5000,275.3300,0.0000,0.0000,NaN,0.0000,N,5.0000,5.0000,1571850.0000,1571850.0000,1571850.0000,1571850.0000,0.0000,0.0000,0.0000,NaN,NaN,0.0000,7.2000,2.0000,6.5000,3.0000,3000540001.0000,0.0000,21.0000,988208.0000,195011.0000,12d,NaN,302 016,30101.0000,NaN,3000540001.0000,12/06/2002,1.0000,NaN,NaN,17V1.1,0.0000,1559.8891,140131.5772,1
11201,3,BROOKLYN HEIGHTS,21 OFFICE BUILDINGS,4,204,1,NaN,O6,29 COLUMBIA HEIGHTS,NaN,0,0,0,32000.0000,304650.0000,1924,4,O6,340000000.0000,2016-08-03,2016,BK,302.0000,1.0000,1003.0000,13.0000,33.0000,11201.0000,E205,84.0000,38.0000,2300.0000,3.0000,2.0000,1A,29 COLUMBIA HEIGHTS,M2-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,O6,5.0000,0.0000,NaN,25-30 COLUMBIA HEIGHT,32000.0000,304650.0000,304650.0000,0.0000,264750.0000,0.0000,0.0000,0.0000,0.0000,39900.0000,2.0000,1.0000,13.0000,0.0000,0.0000,92.4200,335.9200,335.0000,92.0000,NaN,0.0000,Y,3.0000,5.0000,1548000.0000,25463250.0000,0.0000,0.0000,1924.0000,1980.0000,0.0000,NaN,NaN,9.5200,0.0000,2.0000,0.0000,3.0000,3002040001.0000,0.0000,1.0000,985952.0000,195007.0000,12d,NaN,302 004,30106.0000,NaN,0.0000,NaN,1.0000,NaN,NaN,17V1.1,0.0000,890.7185,34656.4472,3
11234,3,MILL BASIN,22 STORE BUILDINGS,4,8470,55,NaN,K6,5120 AVENUE U,NaN,0,123,123,905000.0000,2548000.0000,1970,4,K6,276947000.0000,2012-11-28,2012,BK,318.0000,698.0000,2005.0000,22.0000,46.0000,11234.0000,E323,63.0000,35.0000,8822.0000,3.0000,18.0000,4E,5120 AVENUE U,M3-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,K6,5.0000,1.0000,NaN,BROOKLYN KINGS PLAZA,905000.0000,2548000.0000,2548000.0000,0.0000,0.0000,1263000.0000,1285000.0000,0.0000,0.0000,0.0000,2.0000,4.0000,2.0000,0.0000,123.0000,930.0000,859.0000,0.0000,0.0000,NaN,0.0000,Y,3.0000,5.0000,36532350.0000,149792400.0000,0.0000,0.0000,1970.0000,0.0000,0.0000,NaN,NaN,2.8200,0.0000,2.0000,0.0000,3.0000,3084700055.0000,0.0000,698.0000,1006597.0000,161424.0000,23b,NaN,319 077,32502.0000,NaN,0.0000,NaN,1.0000,1.0000,1.0000,17V1.1,0.0000,3729.7869,797554.8478,36
11201,3,BROOKLYN HEIGHTS,26 OTHER HOTELS,4,230,1,NaN,H8,21 CLARK STREET,NaN,0,1,1,20267.0000,356000.0000,1927,4,H8,202500000.0000,2017-10-31,2017,BK,302.0000,3.0100,2000.0000,13.0000,33.0000,11201.0000,E205,84.0000,38.0000,2300.0000,3.0000,2.0000,1A,79 WILLOW STREET,R6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LH-1,N,H8,8.0000,0.0000,X,WATCHTOWER C/O REAL P,20267.0000,356000.0000,30000.0000,0.0000,30000.0000,0.0000,0.0000,0.0000,0.0000,0.0000,2.0000,1.0000,15.0000,0.0000,1.0000,202.0000,100.3300,202.0000,100.3300,NaN,0.0000,N,3.0000,2.0000,2250000.0000,27166050.0000,2250000.0000,27166050.0000,1927.0000,1998.0000,2000.0000,Brooklyn Heights Historic District,NaN,17.5700,2.4300,0.0000,4.8000,3.0000,3002300001.0000,0.0000,301.0000,985622.0000,193713.0000,12d,NaN,302 014,30106.0000,NaN,0.0000,NaN,1.0000,NaN,NaN,17V1.1,0.0000,620.7612,21360.1476,74
11249,3,WILLIAMSBURG-SOUTH,31 COMMERCIAL VACANT LAND,4,2428,1,NaN,V1,329 KENT AVENUE,NaN,0,0,0,57600.0000,0.0000,0,4,V1,185445000.0000,2012-10-11,2012,BK,301.0000,551.0000,1009.0000,14.0000,33.0000,11249.0000,E221,90.0000,30.0000,400.0000,3.0000,1.0000,2B,325 KENT AVENUE,R6,NaN,NaN,NaN,C2-4,NaN,NaN,NaN,NaN,NaN,N,D7,4.0000,0.0000,NaN,325 KENT LLC,57600.0000,382746.0000,11200.0000,371546.0000,1822.0000,9378.0000,0.0000,0.0000,0.0000,0.0000,2.0000,1.0000,0.0000,522.0000,525.0000,180.0000,320.0000,179.0000,315.0000,NaN,0.0000,N,3.0000,5.0000,3110400.0000,5579990.0000,0.0000,0.0000,2015.0000,0.0000,0.0000,NaN,NaN,6.6400,2.4300,0.0000,4.8000,3.0000,3024280001.0000,0.0000,551.0000,993500.0000,199202.0000,12d,NaN,303 007,30806.0000,E-337,0.0000,NaN,1.0000,NaN,NaN,17V1.1,0.0000,1006.3380,58564.8643,51
11241,3,BROOKLYN HEIGHTS,21 OFFICE BUILDINGS,4,250,44,NaN,O4,16 COURT STREET,NaN,0,102,102,12500.0000,290440.0000,1928,4,O4,171000000.0000,2017-10-10,2017,BK,302.0000,9.0000,1001.0000,13.0000,33.0000,11241.0000,E205,84.0000,38.0000,2300.0000,3.0000,2.0000,1B,16 COURT STREET,C5-2A,NaN,NaN,NaN,NaN,NaN,DB,NaN,NaN,NaN,N,O4,5.0000,0.0000,P,16 COURT STREET OWNER,12500.0000,290440.0000,290440.0000,0.0000,274500.0000,15940.0000,0.0000,0.0000,0.0000,0.0000,2.0000,1.0000,37.0000,0.0000,102.0000,100.0000,125.0000,92.0000,125.0000,NaN,0.0000,Y,3.0000,2.0000,2448000.0000,28309500.0000,0.0000,11304900.0000,1928.0000,2009.0000,0.0000,Borough Hall Skyscraper Historic Distric,NaN,23.2400,10.0000,10.0000,10.0000,3.0000,3002500044.0000,0.0000,9.0000,986784.0000,191977.0000,12d,NaN,302 018,30107.0000,NaN,0.0000,NaN,1.0000,NaN,NaN,17V1.1,0.0000,460.0317,12947.1455,41
11211,3,WILLIAMSBURG-NORTH,08 RENTALS - ELEVATOR APARTMENTS,2,2307,1,NaN,D8,250 N 10 STREET,NaN,234,3,237,50173.0000,241764.0000,2012,2,D8,169000000.0000,2015-05-01,2015,BK,301.0000,519.0000,1006.0000,14.0000,33.0000,11211.0000,E229,94.0000,30.0000,700.0000,3.0000,1.0000,3B,236 NORTH 10 STREET,M1-2/R6A,NaN,NaN,NaN,NaN,NaN,MX-8,NaN,NaN,NaN,N,D8,3.0000,0.0000,P,BRKLYN NY 250 N 10TH,50173.0000,241764.0000,27900.0000,213864.0000,4200.0000,0.0000,22200.0000,1500.0000,0.0000,0.0000,2.0000,1.0000,6.0000,234.0000,237.0000,521.2500,200.0000,500.0000,100.0000,NaN,1.0000,N,1.0000,2.0000,1354500.0000,23965650.0000,932847.0000,23543997.0000,2012.0000,2012.0000,0.0000,NaN,NaN,4.8200,3.0000,2.0000,3.0000,3.0000,3023070001.0000,0.0000,519.0000,997307.0000,200618.0000,13a,NaN,304 018,30804.0000,E-138,3023070001.0000,10/08/2013,1.0000,1.0000,NaN,17V1.1,0.0000,1385.2735,50772.6249,88
11249,3,WILLIAMSBURG-SOUTH,29 COMMERCIAL GARAGES,4,2128,5,NaN,G7,418 KENT AVENUE,NaN,0,0,0,44704.0000,0.0000,0,4,G7,165000000.0000,2015-02-04,2015,BK,301.0000,549.0000,2006.0000,14.0000,33.0000,11249.0000,E221,90.0000,30.0000,500.0000,3.0000,1.0000,4A,418 KENT AVENUE,R7-3,C4-3,NaN,NaN,C2-4,NaN,NaN,NaN,NaN,NaN,Y,D1,3.0000,0.0000,NaN,420 KENT AVENUE LLC,44704.0000,463427.0000,4884.0000,458543.0000,0.0000,4884.0000,0.0000,0.0000,0.0000,0.0000,2.0000,2.0000,20.0000,470.0000,472.0000,225.0800,281.8600,0.0000,0.0000,NaN,0.0000,Y,5.0000,5.0000,1699200.0000,3534300.0000,0.0000,0.0000,2016.0000,0.0000,0.0000,NaN,NaN,10.3700,5.0000,0.0000,5.0000,3.0000,3021280005.0000,0.0000,549.0000,992807.0000,198027.0000,12d,NaN,303 006,30801.0000,R-47,3021280005.0000,10/29/2014,1.0000,1.0000,1.0000,17V1.1,0.0000,992.9157,47019.5678,56
11205,3,NAVY YARD,30 WAREHOUSES,4,1876,1,NaN,E9,9-47 HALL ST,NaN,0,1,1,113800.0000,547000.0000,1912,4,E9,161000000.0000,2016-03-04,2016,BK,302.0000,543.0000,2003.0000,14.0000,35.0000,11205.0000,L119,88.0000,36.0000,9300.0000,3.0000,2.0000,4E,39 HALL STREET,M1-2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,E9,6.0000,0.0000,P,RXR 9-47 HALL STREET,113800.0000,547000.0000,547000.0000,0.0000,0.0000,0.0000,0.0000,0.0000,547000.0000,0.0000,2.0000,13.0000,8.0000,0.0000,1.0000,569.0000,204.0000,304.0000,80.9200,NaN,0.0000,Y,3.0000,5.0000,1282500.0000,11295000.0000,0.0000,0.0000,1912.0000,0.0000,0.0000,NaN,NaN,4.8100,0.0000,2.0000,4.8000,3.0000,3018760001.0000,0.0000,543.0000,993650.0000,193137.0000,12d,NaN,302 049,30701.0000,NaN,0.0000,NaN,1.0000,NaN,NaN,17V1.1,0.0000,1565.9148,118754.7857,16

In [184]:
mean_age = sales_data['age'].mean()
umean_age_count = len(sales_data[sales_data.age > mean_age].index)

print(f"Средний возраст построек: {mean_age.round(2)}\n"+
        f"Количество построек, возраст которых больше среднего: {umean_age_count}")

Средний возраст построек: 49.54
Количество построек, возраст которых больше среднего: 195650

In [185]:
column_nan_percentge = (sales_data.isna().sum(axis=0) / len(sales_data.index) * 100).round(2)
column_nan_percentge

borough                     0.0000
neighborhood                0.0000
building_class_category     0.0200
tax_class                   1.7700
block                       0.0000
lot                         0.0000
easement                  100.0000
building_class              1.7700
address                     0.0000
apartment_number           78.1000
residential_units           0.0000
commercial_units            0.0000
total_units                 0.0000
land_sqft                   0.0000
gross_sqft                  0.0000
year_built                  0.0000
tax_class_at_sale           0.0000
building_class_at_sale      0.0000
sale_price                  0.0000
sale_date                   0.0000
year_of_sale                0.0000
Borough                    22.3000
CD                         22.3000
CT2010                     22.3700
CB2010                     22.6100
SchoolDist                 22.3100
Council                    22.3000
ZipCode                    22.3000
FireComp                   22.3600
PolicePrct                 22.3000
HealthCent                 22.3000
HealthArea                 22.3000
SanitBoro                  22.4200
SanitDistr                 22.4200
SanitSub                   22.5000
Address                    22.3000
ZoneDist1                  22.3000
ZoneDist2                  96.1300
ZoneDist3                  99.9500
ZoneDist4                 100.0000
Overlay1                   89.2800
Overlay2                   99.9900
SPDist1                    90.9200
SPDist2                    99.9900
SPDist3                   100.0000
LtdHeight                  98.6900
SplitZone                  22.3000
BldgClass                  22.3000
LandUse                    22.5600
Easements                  22.3000
OwnerType                  86.3100
OwnerName                  22.3200
LotArea                    22.3000
BldgArea                   22.3000
ComArea                    22.3000
ResArea                    22.3000
OfficeArea                 22.3000
RetailArea                 22.3000
GarageArea                 22.3000
StrgeArea                  22.3000
FactryArea                 22.3000
OtherArea                  22.3000
AreaSource                 22.3000
NumBldgs                   22.3000
NumFloors                  22.3000
UnitsRes                   22.3000
UnitsTotal                 22.3000
LotFront                   22.3000
LotDepth                   22.3000
BldgFront                  22.3000
BldgDepth                  22.3000
Ext                        83.0800
ProxCode                   22.3000
IrrLotCode                 22.3000
LotType                    22.3000
BsmtCode                   22.3000
AssessLand                 22.3000
AssessTot                  22.3000
ExemptLand                 22.3000
ExemptTot                  22.3000
YearBuilt                  22.3000
YearAlter1                 22.3000
YearAlter2                 22.3000
HistDist                   94.9700
Landmark                   99.9700
BuiltFAR                   22.3000
ResidFAR                   22.3000
CommFAR                    22.3000
FacilFAR                   22.3000
BoroCode                   22.3000
BBL                        22.3000
CondoNo                    22.3000
Tract2010                  22.3000
XCoord                     22.3000
YCoord                     22.3000
ZoneMap                    22.3000
ZMCode                     98.4400
Sanborn                    22.3000
TaxMap                     22.3000
EDesigNum                  99.0900
APPBBL                     22.3000
APPDate                    95.0700
PLUTOMapID                 22.3000
FIRM07_FLA                 97.7900
PFIRM15_FL                 92.8900
Version                    22.3000
MAPPLUTO_F                 22.3000
SHAPE_Leng                 22.3000
SHAPE_Area                 22.3000
age                         0.0000
dtype: float64

In [186]:
sales_data_slice = pd.DataFrame(data=sales_data,
                                columns=['borough', 'neighborhood', 'building_class_category',
                                            'tax_class', 'building_class', 'gross_sqft',
                                             'total_units', 'age', 'sale_price'])

print(f"Количество строк до удаления пропущенных значений: {len(sales_data_slice.index)}")

Количество строк до удаления пропущенных значений: 390883

In [187]:
sales_data_slice.dropna(how='all')

print(f"Количество строк после удаления пропущенных значений: {len(sales_data_slice.index)}")

Количество строк после удаления пропущенных значений: 390883

In [188]:
for i in range(0,10):
    sales_data_slice = sales_data_slice.append(pd.Series(dtype='object'), ignore_index=True)

sales_data_slice.tail(15)

,borough,neighborhood,building_class_category,tax_class,building_class,gross_sqft,total_units,age,sale_price
390878,3.0000,WYCKOFF HEIGHTS,31 COMMERCIAL VACANT LAND,1,C0,3900.0000,3.0000,96.0000,805000.0000
390879,3.0000,WYCKOFF HEIGHTS,31 COMMERCIAL VACANT LAND,1,C0,3900.0000,3.0000,45.0000,330000.0000
390880,3.0000,WYCKOFF HEIGHTS,41 TAX CLASS 4 - OTHER,4,Z9,0.0000,0.0000,95.0000,150000.0000
390881,3.0000,3004,04 TAX CLASS 1 CONDOS,NaN,NaN,0.0000,0.0000,98.0000,346788.0000
390882,3.0000,3004,04 TAX CLASS 1 CONDOS,NaN,NaN,0.0000,0.0000,71.0000,334620.0000
390883,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
390884,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
390885,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
390886,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
390887,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
390888,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
390889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
390890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
390891,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
390892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [189]:
sales_data_slice.dropna(how='all', axis=0, inplace=True)

print(f"Количество строк после повторного удаления пропущенных значений: {len(sales_data_slice.index)}")

Количество строк после повторного удаления пропущенных значений: 390883

In [190]:
sales_data_slice.tail(15)

,borough,neighborhood,building_class_category,tax_class,building_class,gross_sqft,total_units,age,sale_price
390868,3.0000,WYCKOFF HEIGHTS,27 FACTORIES,4,F9,5000.0000,1.0000,74.0000,640000.0000
390869,3.0000,WYCKOFF HEIGHTS,27 FACTORIES,4,F9,9000.0000,1.0000,14.0000,250000.0000
390870,3.0000,WYCKOFF HEIGHTS,28 COMMERCIAL CONDOS,4,R5,0.0000,1.0000,7.0000,178193.0000
390871,3.0000,WYCKOFF HEIGHTS,29 COMMERCIAL GARAGES,4,G1,10880.0000,1.0000,24.0000,0.0000
390872,3.0000,WYCKOFF HEIGHTS,29 COMMERCIAL GARAGES,4,G9,825.0000,4.0000,24.0000,0.0000
390873,3.0000,WYCKOFF HEIGHTS,29 COMMERCIAL GARAGES,NaN,NaN,0.0000,0.0000,8.0000,0.0000
390874,3.0000,WYCKOFF HEIGHTS,29 COMMERCIAL GARAGES,NaN,NaN,0.0000,0.0000,51.0000,2800000.0000
390875,3.0000,WYCKOFF HEIGHTS,29 COMMERCIAL GARAGES,NaN,NaN,0.0000,0.0000,54.0000,0.0000
390876,3.0000,WYCKOFF HEIGHTS,29 COMMERCIAL GARAGES,4,G9,1600.0000,8.0000,71.0000,153000.0000
390877,3.0000,WYCKOFF HEIGHTS,29 COMMERCIAL GARAGES,NaN,NaN,0.0000,0.0000,50.0000,1100000.0000
390878,3.0000,WYCKOFF HEIGHTS,31 COMMERCIAL VACANT LAND,1,C0,3900.0000,3.0000,96.0000,805000.0000
390879,3.0000,WYCKOFF HEIGHTS,31 COMMERCIAL VACANT LAND,1,C0,3900.0000,3.0000,45.0000,330000.0000
390880,3.0000,WYCKOFF HEIGHTS,41 TAX CLASS 4 - OTHER,4,Z9,0.0000,0.0000,95.0000,150000.0000
390881,3.0000,3004,04 TAX CLASS 1 CONDOS,NaN,NaN,0.0000,0.0000,98.0000,346788.0000
390882,3.0000,3004,04 TAX CLASS 1 CONDOS,NaN,NaN,0.0000,0.0000,71.0000,334620.0000

In [191]:
sqft_сondition = sales_data_slice[sales_data_slice["gross_sqft"] != 0]
price_сondition = sqft_сondition[sqft_сondition["sale_price"] != 0]
age_sorted = price_сondition.sort_values(by="age")
youngest = age_sorted.head(20)

In [193]:
youngest

,borough,neighborhood,building_class_category,tax_class,building_class,gross_sqft,total_units,age,sale_price
64051,3.0000,CYPRESS HILLS,02 TWO FAMILY HOMES,1,B2,2700.0000,2.0000,0.0000,675000.0000
61312,3.0000,FLATBUSH-NORTH,02 TWO FAMILY HOMES,1,B2,2992.0000,2.0000,0.0000,695000.0000
129776,3.0000,BEDFORD STUYVESANT,02 TWO FAMILY HOMES,1,B3,2400.0000,2.0000,0.0000,346000.0000
382717,3.0000,MIDWOOD,01 ONE FAMILY HOMES,1,A9,1248.0000,1.0000,0.0000,676500.0000
129626,3.0000,BEDFORD STUYVESANT,02 TWO FAMILY HOMES,1,B2,1875.0000,2.0000,0.0000,348000.0000
129508,3.0000,EAST NEW YORK,01 ONE FAMILY HOMES,1,A1,1280.0000,1.0000,0.0000,349123.0000
331994,3.0000,BOROUGH PARK,21 OFFICE BUILDINGS,4,O9,3600.0000,3.0000,0.0000,425000.0000
5692,3.0000,CLINTON HILL,03 THREE FAMILY HOMES,1,C0,3860.0000,3.0000,0.0000,2850000.0000
61523,3.0000,OCEAN HILL,02 TWO FAMILY HOMES,1,B2,3300.0000,2.0000,0.0000,692000.0000
20871,3.0000,SUNSET PARK,22 STORE BUILDINGS,4,K1,6400.0000,1.0000,0.0000,1300000.0000
332035,3.0000,BOROUGH PARK,27 FACTORIES,4,F9,5853.0000,2.0000,0.0000,1300000.0000
332077,3.0000,BOROUGH PARK,31 COMMERCIAL VACANT LAND,4,E3,7200.0000,1.0000,0.0000,600000.0000
129192,3.0000,CANARSIE,02 TWO FAMILY HOMES,1,B1,1600.0000,2.0000,0.0000,350000.0000
129128,3.0000,BEDFORD STUYVESANT,03 THREE FAMILY HOMES,1,C0,4740.0000,3.0000,0.0000,350000.0000
3966,3.0000,EAST NEW YORK,07 RENTALS - WALKUP APARTMENTS,2,C1,27230.0000,38.0000,0.0000,3600000.0000
20820,3.0000,BUSHWICK,22 STORE BUILDINGS,4,K1,1140.0000,1.0000,0.0000,1300000.0000
180868,3.0000,BEDFORD STUYVESANT,14 RENTALS - 4-10 UNIT,2A,S5,4600.0000,6.0000,0.0000,10.0000
61740,3.0000,BOROUGH PARK,02 TWO FAMILY HOMES,1,B1,3327.0000,2.0000,0.0000,690000.0000
128920,3.0000,OLD MILL BASIN,03 THREE FAMILY HOMES,1,C0,3280.0000,3.0000,0.0000,350000.0000
20796,3.0000,OCEAN PARKWAY-SOUTH,03 THREE FAMILY HOMES,1,C0,2600.0000,3.0000,0.0000,1300000.0000

In [192]:
сondition_sorted = youngest.sort_values(["gross_sqft", "sale_price"], ascending=False)
сondition_sorted.head(20)

,borough,neighborhood,building_class_category,tax_class,building_class,gross_sqft,total_units,age,sale_price
3966,3.0000,EAST NEW YORK,07 RENTALS - WALKUP APARTMENTS,2,C1,27230.0000,38.0000,0.0000,3600000.0000
332077,3.0000,BOROUGH PARK,31 COMMERCIAL VACANT LAND,4,E3,7200.0000,1.0000,0.0000,600000.0000
20871,3.0000,SUNSET PARK,22 STORE BUILDINGS,4,K1,6400.0000,1.0000,0.0000,1300000.0000
332035,3.0000,BOROUGH PARK,27 FACTORIES,4,F9,5853.0000,2.0000,0.0000,1300000.0000
129128,3.0000,BEDFORD STUYVESANT,03 THREE FAMILY HOMES,1,C0,4740.0000,3.0000,0.0000,350000.0000
180868,3.0000,BEDFORD STUYVESANT,14 RENTALS - 4-10 UNIT,2A,S5,4600.0000,6.0000,0.0000,10.0000
5692,3.0000,CLINTON HILL,03 THREE FAMILY HOMES,1,C0,3860.0000,3.0000,0.0000,2850000.0000
331994,3.0000,BOROUGH PARK,21 OFFICE BUILDINGS,4,O9,3600.0000,3.0000,0.0000,425000.0000
61740,3.0000,BOROUGH PARK,02 TWO FAMILY HOMES,1,B1,3327.0000,2.0000,0.0000,690000.0000
61523,3.0000,OCEAN HILL,02 TWO FAMILY HOMES,1,B2,3300.0000,2.0000,0.0000,692000.0000
128920,3.0000,OLD MILL BASIN,03 THREE FAMILY HOMES,1,C0,3280.0000,3.0000,0.0000,350000.0000
61312,3.0000,FLATBUSH-NORTH,02 TWO FAMILY HOMES,1,B2,2992.0000,2.0000,0.0000,695000.0000
64051,3.0000,CYPRESS HILLS,02 TWO FAMILY HOMES,1,B2,2700.0000,2.0000,0.0000,675000.0000
20796,3.0000,OCEAN PARKWAY-SOUTH,03 THREE FAMILY HOMES,1,C0,2600.0000,3.0000,0.0000,1300000.0000
129776,3.0000,BEDFORD STUYVESANT,02 TWO FAMILY HOMES,1,B3,2400.0000,2.0000,0.0000,346000.0000
129626,3.0000,BEDFORD STUYVESANT,02 TWO FAMILY HOMES,1,B2,1875.0000,2.0000,0.0000,348000.0000
129192,3.0000,CANARSIE,02 TWO FAMILY HOMES,1,B1,1600.0000,2.0000,0.0000,350000.0000
129508,3.0000,EAST NEW YORK,01 ONE FAMILY HOMES,1,A1,1280.0000,1.0000,0.0000,349123.0000
382717,3.0000,MIDWOOD,01 ONE FAMILY HOMES,1,A9,1248.0000,1.0000,0.0000,676500.0000
20820,3.0000,BUSHWICK,22 STORE BUILDINGS,4,K1,1140.0000,1.0000,0.0000,1300000.0000